@media (max-width:750px){
 .converter{
    width:50vh ;
    height: 80vh;

 }

 input{
    height: 5vh;
    width: 40vh;
    text-align: center;
 }


 h1 {
  font-size: 2rem;
  font-weight: bolder;
  /* margin-top: 2rem; */
  color: #f5f5f5;
  text-align: center;
}
}