@media (max-width: 750px) {
  .converter {
    width: 45vh;
    height: 80vh;
  }

  input {
    height: 5vh;
    width: 40vh;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
    font-weight: bolder;
    /* margin-top: 2rem; */
    color: #f5f5f5;
    text-align: center;
  }

  .selector select {
    width: 15vh;
    height: 5vh;
  }

  .converter p{
   font-size: 0.9rem;
  }


  .converter button{
   padding: 0.9rem;
  }
}
