@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #151f30;
  font-family: "Nunito", sans-serif;
}

.converter {
  /* background-color: #31363f; */
  /* border: 2px solid #333; */
  background-color: #131720;
  /* background-color: rgba(19, 23, 32, 0.3); */
  /* backdrop-filter: blur(15px) saturate(150px);

  -webkit-backdrop-filter: blur(15px) saturate(150px); */
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);

  /* border: 2px solid #333; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vh;
  height: 80vh;
  border-radius: 2rem;
  gap: 2rem;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
  color: #f5f5f5;
}

input {
  width: 50vh;
  height: 10vh;
  border-radius: 10px;
  background-color: #cacada;
  border: none;
  padding: 0.9rem;
}

input::placeholder {
  text-align: center;
}

.selector {
  gap: 2rem;
  display: flex;
}

.selector select {
  width: 20vh;
  height: 10vh;
  border: none;

  background-color: #151f30;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-family: poppins;
  font-weight: bold;
}

.selector select option {
  background: #000;
}

.converter p {
  color: #fff;
  font-size: 2rem;
}

.converter button {
  background-color: #151f30;
  /* margin-top: 10rem; */
  border-radius: 5px;
  color: white;
  padding: 1rem;
  border: 1px solid white;
  font-family: poppins;
  font-weight: bold;
}

.converter button:hover {
  background-color: #333;
  color: #000;
}

.selector1,
.selector2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
}
